<%- include('./../layouts/header', { title: 'Home Page' }); -%>
    <div class="game-container">
        <canvas id="game"></canvas>
        <div class="btns">
            <button id="up">up</button>
            <button id="left">left</button>
            <button id="right">right</button>
            <button id="down">down</button>
        </div>
        <div class="messages">

        </div>
    </div>
<%- include('./../layouts/footer'); -%>